.Aniamtion-Container {
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.animate-fields {
    border: 1px solid black;
    width: 650px;
    height: 300px;
    border-radius: 1rem;
    background-image: url(imgs/mumclash.jpg);
    background-position: center;
    background-size: contain;
}

.anim-ball {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: khaki;
    position: relative;
    left: 0px;
    top: 0px;
    background-image: none;
    background-position: center;
    background-size: contain;
}

.animate-control {
    margin-top: 1rem;
}